---
layout: default
---

{% assign lang = page.lang | default: "en" %}
{% assign t = site.data.translations[lang] %}

  <div id="homeid" class="col-sm-8">
        <h1>{{ t.home.welcome }}</h1>

	{{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
        <h4>{{ t.nav.news }}</h4>

        {% if lang == "ja" and site.data.ja.news %}
          {% assign news_data = site.data.ja.news %}
        {% else %}
          {% assign news_data = site.data.news %}
        {% endif %}

        {% for article in news_data limit:6 %}
        {{ article.date }}
        <p>{{ article.headline }}</p>
        <p>{{ article.youtube }}</p>
        {% endfor %}

        {% if lang == "en" %}
          {% assign lang_prefix = "" %}
        {% else %}
          {% assign lang_prefix = "/ja" %}
        {% endif %}

<h4><a href="{{ site.url }}{{ site.baseurl }}{{ lang_prefix }}/allnews.html">{{ t.home.see_all_news }}</a></h4>
  </div>
